/* Montserrat, Raleway, Fira Sans font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.header-accueil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image:
    linear-gradient(to bottom, rgba(255,255,255,0) 10%, white 100%),
    linear-gradient(to right, #A9EAED, #c084fc );
  background-blend-mode: normal;
  /* padding: 0 64px; */
  padding-left: 264px;
  padding-right: 64px;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  
  height: 84px;
}

.header-accueil .left-section {
  margin-left: 0;
}

.header-accueil .header-link {
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
}

.header-accueil .logo-vazo {
  height: 40px;
  cursor: pointer;
}

.header-accueil .logo-title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.header-accueil .right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 64px;
}

.header-accueil .logo-ispm {
  width: 64px;
}