/* Montserrat, Raleway, Fira Sans, Inter font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.music-cover {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  margin-left: 30vh;
  padding-left: 2vh;
}

.album {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 800;
}

.liste-cover {
  display: flex;
  flex-direction: row;
  height: 21vh;
  width: 83vw;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.liste-cover .cover {
  width: 128px;
  height: 128px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 8px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s;
}

.liste-cover .cover:hover {
  width: 136px;
  height: 136px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media (min-width: 1092.1px) and (max-width: 1535.9px) {
  .music-cover {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    margin-left: 36vh;
    padding-left: 2vh;
  }
}

@media (min-width: 1092px) and (max-width: 1296px) {
  .music-cover {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    margin-left: 36vh;
    padding-left: 2vh;
  }
}

@media (max-width: 1091.9px) {
  .music-cover {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    margin-left: 36vh;
    padding-left: 2vh;
  }
}