/* Montserrat, Raleway, Fira Sans font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.headerHomepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image:
    linear-gradient(to bottom, rgba(255,255,255,0) 10%, white 100%),
    linear-gradient(to right, #A9EAED, #c084fc );
  background-blend-mode: normal; */
  padding: 0 32px;

  position: fixed;
  top: 20px;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  z-index: 100;
  
  height: 72px;
  width: 916px;
  border-radius: 64px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.headerHomepage .left-section {
  margin-left: 0;
}

.headerHomepage .header-link {
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
}

.headerHomepage .logo-vazo {
  height: 40px;
  cursor: pointer;
}

.headerHomepage .logo-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.headerHomepage .right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 216px;
}

.headerHomepage .connexion-button {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #8187DC;
  cursor: pointer;
  transition: all 0.5s;
}

.headerHomepage .connexion-button:hover {
  background-color: #adb1e2;
  box-shadow: 0 0 12px rgba(129, 135, 220, 0.7);
  cursor: pointer;
}

.headerHomepage .sign-in {
  padding-left: 12px;
  padding-right: 12px;
}

.headerHomepage .sign-up {
  padding-left: 24px;
  padding-right: 24px;
  /* margin-left: 8px; */
}

.headerHomepage .logo-ispm {
  width: 64px;
}

@media (max-width: 1040px) {
  .headerHomepage {
    width: 616px;
  }
}
