/* Montserrat, Raleway, Fira Sans font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS du left sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  /* padding: 128px 12px; */
  padding-top: 128px;
  width: 98px;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  z-index: 90;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}
.lyrics-display {
  margin-top: 20vh;
  text-align: center;
  font-size: 1.5rem;
  color: #ccc;
  line-height: 2rem;
}

.highlight {
  color: #ff4081;
  font-weight: bold;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 68px;
  cursor: pointer;
  transition: all 0.3s;
}

.edit:hover {
  background-color: rgb(245, 240, 240);
  border-radius: 8px;
  cursor: pointer;
}

.edit-icon {
  width: 24px;
}

.edit-name {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.pencil {
  position: fixed;
  top: 31vh;
  left: 40vw;
  font-size: 24px;
  width: 256px;
}

.modificateur-couleur {
  /* margin-left: 23vh; */
  width: 424px;
  position: fixed;
  left: 104px;
  top: 192px;
  z-index: 90;
}

/* CSS du montage */
.montage-body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 40px; */
  z-index: 10;
}

.montage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video {
  width: 39vw;
  height: 56vh;
  margin-bottom: 24px;
}

.test-paragraph {
  position: fixed;
  bottom: 16px;
  left: 256px;
}

/* CSS de l'audio controls */
.audio-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 4px 64px;
  margin-bottom: 24px;
  background-color: #EFEFEF;

  position: fixed;
  bottom: 13vh;
}

.control-icon {
  width: 24px;
  cursor: pointer;
}

.pause {
  border-radius: 8px;
  background-color: rgb(200, 192, 192);
  padding: 10px;
  border-radius: 64px;
}

/* CSS du timeline */
.timeline {
  width: 1000px;
  height: 72px;
  background-color: #EFEFEF;
  
  position: fixed;
  bottom: 4vh;
}

@media (max-width: 1231px) {
  .timeline {
    width: 600px;
  }
}

.play-mark {
  position: absolute;
  margin-left: 20px;
}

.playzone {
  width: 24px;
  margin-top: -24px;
  margin-left: 3.5px;
  position: absolute;
}

.line {
  width: 3px;
  height: 72px;
  margin-left: 14px;
  margin-top: -4px;
  position: absolute;
}

.time {
  display: flex;
  justify-content: space-between;
  padding-left: 92px;
  padding-right: 92px;
  margin-top: 8px;
  height: 92px;
}

.time-ms {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 833px) {
  .audio-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 40px;
    padding: 4px 48px;
    margin-bottom: 24px;
    background-color: #EFEFEF;
    
    position: fixed;
    bottom: 13vh;
  }
  
  .control-icon {
    width: 16px;
    cursor: pointer;
  }
  
  .timeline {
    width: 400px;
  }
  
  .playzone {
    width: 20px;
    margin-top: -20px;
    margin-left: 5px;
  }
  
  .line {
    width: 2px;
    height: 64px;
  }
  
  .time {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .time-ms {
    font-family: "Fira Sans", sans-serif;
    font-size: 8px;
    font-weight: 400;
  }
}