/* Montserrat, Raleway, Fira Sans, Inter font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS du sidebar de l'accueil */
.sidebar-accueil {
  display: flex;
  width: 200px;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  padding-top: 32px;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);


  z-index: 100;
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

/* Profil */
/* .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.profile-container .profile-image {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  object-fit: cover;
}

.profile-container .profile-name {
  font-size: 12px;
} */

/* Le Menu */
/* .composant-menu {
  display: flex;
  flex-direction: column;
  width: 188px;
}

.composant {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 16px;
  cursor: pointer;
}

.logo-composant {
  height: 16px;
  margin-right: 12px;
}

.nom-composant {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
} */

/* EDC9EA */
