/* Montserrat, Raleway, Fira Sans font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.main-televerser-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;
}

.televerser-audio-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 428px;
  border-radius: 8px;
  background-color: #F5F5F5;
}

.televerser-audio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 312px;
  height: 126px;
  border-radius: 8px;
  background-color: #E8E8E8;
}

.televerser-icone {
  width: 34px;
}

.televerser-un-audio {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.action-televerser {
  /* font-size: 12px; */
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.choose-file {
  color: #387AA3;
  cursor: pointer;
}

.choose-file:hover {
  color: #387AA3;
  text-decoration: underline;
  cursor: pointer;
}